@model ShopCartViewModel
<h1>Корзина</h1>
@foreach (var v in Model.ShopCart.ListShopItems)
{
    <div class="col-lg-4" id="container@(v.Veg.Id)">
        <img src="@v.Veg.Img" alt="@v.Veg.Name" />
        <h2>@v.Veg.Name</h2>
        <p>@v.Veg.ShortDesc</p>
        <p>Цена: @v.Veg.Price</p>
        <p id="quantity@(v.Veg.Id)">Количество: @v.Amount</p>
        <p>

            <a class="btn btn-danger" asp-controller="ShopCart" asp-action="RemoveItem" asp-route-id="@v.Veg.Id">Удалить</a>
            <a class="btn btn-outline-danger" asp-controller="ShopCart" asp-action="MinusItem" id="buttonPlus@(v.Veg.Id)">-</a>
            <a class="btn btn-outline-success" asp-controller="ShopCart" asp-action="PlusItem" id="buttonPlus@(v.Veg.Id)">+</a>
            <a class="btn btn-success" asp-controller="OneVeg" asp-action="OneVeg" asp-route-id="@v.Veg.Id">Подробнее</a>
        </p>
    </div>
    <hr style="border:none; height:1px;" />
}
@if (Model.ShopCart.ListShopItems.Any())
{
    var totalPrice = Model.ShopCart.ListShopItems.Sum(item => item.Amount * item.Price);
    <div style="white-space:nowrap;">
        <h2 style="display:inline-block;">Итоговая цена: </h2>
        <h1 style="display:inline-block">@totalPrice</h1><h2 style="display:inline-block">руб</h2>
        <a class="btn btn-success" asp-controller="Order" asp-action="CheckOut">Перейти к оформлению заказа</a>
    </div>
}
else
{
    <h2>Ваша корзина пуста.</h2>
}